.artist {
  display: flex;
  flex-direction: column;
}

.artist__picture {
  overflow: hidden;
  width: 100%;
  height: 35rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.artist__content {
  padding: 0 2.4rem;
}

.artist__name {
  font-size: 2.4rem;
  margin-top: 1.2rem;
  font-weight: 600;
}

.artist__albums,
.artist__fans {
  color: var(--color-grey);
  font-size: 1.6rem;
}

.artist__picture-loader {
  width: 100%;
  height: 35rem;
  background-color: var(--color-grey);
}

.artist__content-loader {
  padding: 0 2.4rem;
}

.artist__content-loader:before,
.artist__content-loader:after {
  background: var(--color-grey-1);
}

.artist__content-loader:before {
  content: "";
  display: block;
  margin-top: 1.8rem;
  height: 1.6rem;
  width: 15rem;
}

.artist__content-loader:after {
  content: "";
  display: block;

  margin-top: 1.8rem;
  height: 1.4rem;
  width: 10rem;
}

@media all and (min-width: 769px) {
  .artist {
    flex-direction: row;
  }

  .artist__picture {
    width: 320px;
    height: 320px;
    align-items: flex-start;
    border-bottom-right-radius: 3.6rem;
  }

  .artist__picture > img {
    width: 100%;
    height: auto;
  }

  .artist__picture-loader {
    width: 320px;
  }
}
