.latest-songs {
  padding: 0 2.4rem;
}

.latest-songs__title {
  font-size: 1.8rem;
  font-weight: 600;
}

.back-button {
  position: absolute;
  top: 0rem;
  left: 0rem;
  z-index: 1;
  width: 6rem;
  height: 6rem;
  background: white;
  border-bottom-right-radius: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-button > svg {
  width: 2.4rem;
  height: 2.4rem;
}
